# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
spider-116a2-firebase-adminsdk-b0i5e-c8a3031277.json
environment.prod.ts
environments.prod.ts
environment.ts
environments.ts
#firebase
functions/spider-116a2-firebase-adminsdk-b0i5e-a1c77d51b7.json
spider-116a2-firebase-adminsdk-b0i5e-a1c77d51b7.json
functions/spider-116a2-firebase-adminsdk-b0i5e-1a99efdc5b.json
functions/spider-116a2-firebase-adminsdk-b0i5e-eef1e69d3b.json
spider-116a2-firebase-adminsdk-b0i5e-e7886d2e8c.json
/src/environments/environments.ts
/src/environments/environments.prod.ts
src/environments/environments.ts
src/environments/environments.prod.ts
/functions/node_modules
functions/node_modules
environments.ts
environments.prod.ts
environment.prod.ts
environment.ts
environments.ts
/.firebase

dist/
public/
.firebaserc
firebase.json

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
