<!-- {{loggedUser|json}} -->
<div *ngIf="loggedUser" class="card" >
  
    <div class="card-body">
      <h5 class="card-title">Profile</h5>
        <div class="row">
            <div class="col">
                <img *ngIf="loggedUser.photoURL" [src]="loggedUser.photoURL" class="img-thumbnail" alt="...">

            </div>
            <div class="col">{{loggedUser.email}}</div>
        </div>
     
    
            <div class="form-floating mb-3">
                <input [(ngModel)]="loggedUser.displayName" type="text" class="form-control" id="floatingInput">
                <label for="floatingInput">Display name</label>
            </div>
           
            <div class="form-floating mb-3">
                <input [(ngModel)]="loggedUser.phoneNumber" type="text" class="form-control" id="phoneInput">
                <label for="phoneInput">Phone number</label>
            </div>    

            <div class="form-floating mb-3">
                <input [(ngModel)]="loggedUser.email" type="email" class="form-control" id="email">
                <label for="email">E-Mail</label>
            </div>    
      <div class="form-floating my-3">
        <button type="button" (click)="saveChanges()"  class="btn btn-primary">Save</button>
        <span class="ms-3"> 
            <!-- <a  class="stretched-link">Forgot password?</a> -->
        </span>  
      </div> 
    </div>
  </div>